*{ box-sizing: border-box; }
html,body{ font-family:Arial, Helvetica, sans-serif; padding:0; margin: 0; font-size:0.9em ; }
a{color: #35a4f2; text-decoration: none; }
li,ul{ list-style: none; padding:0;margin: 0;}
input{min-width: 6em; }
hr{color: antiquewhite;}
form{ display: inline-block;}

.controls{ text-align: center; background-color: #35a4f2; display: flex;
    padding: 3em 1em 0.4em 1em; justify-content: space-between;  flex-wrap: wrap; }
.controls btn, .controls i{  }
.btn-create-dir{ left: 2em ;}
.breadcrumb{
     display: flex; justify-content: space-between; border-bottom: #DDD 1px solid; line-height: 3em; padding: 0 2em;}
.breadcrumb i{ font-size: 2em; color: #35a4f2;}
.popup .top{height: 3.1em; border-bottom: #DDD 1px solid; line-height: 3em;
    background-color: #35a4f2;}

.form-control{line-height: 3em; height: 3em ;}

.form-createDir,.form-upload,.form-rename, .url{ display: none; }

.btn{padding: 0 2em;line-height: 3em ;height: 3em;display: inline-block ; vertical-align: top; background: transparent}
.btn-link{ font-size: inherit;  border: none; cursor: pointer;}
.btn-link:hover{ background: #0d88c1;}
.btn-action{border: none;color: #FFF;cursor: pointer; }
.paste{ display: none;}
.cut-exists{
   display: inline-block }
.btn-upload{ background: #449d44;color:#FFF;}
.btn-create-dir , .btn-link {color:#FFF;}


.listing ul {margin: 1em 0 0 1em;}
.listing li{background: #FAFAFA ; height: 8em ;width: 8em ; display: inline-block ;  margin: 0 1em 1em 0;cursor: pointer;text-align: center;overflow-wrap: break-word; vertical-align: top;  }
.listing li i{ line-height: 1em; font-size: 3em; display: block; padding: .5em 0 ;}
.listing li a{ display: block; height: 8em;}
.listing li .title{ font-size: 12px ;}
.listing li img{max-width: 100%;max-height: 6em;border: solid lightgray 1px;}
.listing li .img{ height: 6em ;}

#main{ max-width: 100%; }
/**/
@media (max-width:900px){
    .listing{ font-size: 0.5em ;}
}

.popup {
      text-align: center;  display:none ;z-index: 3;border: solid lightgray 5px;background-color: white;position: fixed; overflow:auto; left: 10%;right: 10%;top:10%; bottom: 10%}
.popup-mask{display:none ;z-index: 2;background: rgba(0,0,0,0.7);position: fixed;left: 0;right: 0;top:0;bottom: 0;}
body.open .popup,body.open .popup-mask, .cut{ display: block }
